{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.18"
            }
        ]
    ],
    "sourceType": "unambiguous"
}